


<form [formGroup]="sprintForm">
    <div>
        <label class="form-label">Target Sprint Points:</label>
        <input class="form-control" formControlName="sprint" type="number">
    </div>
</form>
    
   <div class="d-flex justify-content-between srint-buttons">
        <button (click)="autoSelectStories()" class="btn btn-success">Auto Select Stories</button>
        <button (click)="clearStories()" class="btn btn-danger">Clear Stories</button>
        <button (click)="clearSelectedStories()" class="btn btn-danger">Clear Selected Stories</button>
   </div>
    
